@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap");
@import "./components/utils/variables.scss";

body {
   scroll-behavior: smooth;
   font-family: $fontS;
   background-color: $background-card-color;
   text-decoration: none !important;
}
ul,
li {
   list-style: none !important;

   text-decoration: none !important;
}
a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: white;
}
h1,
h2,
h3,
p,
ul {
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}
.btn__form {
   display: inline-block;
   background-color: #141414;
   color: #fff;
   margin: 1rem;
   padding: 1.125rem 2rem;
   font-weight: 500;
   border-radius: 0.5rem;
   border: 2px solid #8a8a8a;
   transition: 0.3s;
   cursor: pointer;
}
@import "./components/header.scss";
@import "./components/hero";
@import "./components/_products.sass";
@import "./components/_itemCount.sass";
@import "./components/_footer.sass";
@import "./components/_order.sass";
@import "./components/form";
