@import './utils/variables.scss';
.container {
	max-width: 1442px !important;
}
.contenedor--svg {
	width: 123px;
    height: 31px;
    margin-right: 2rem;
}
.icon--logo{
	width: 20px;
	height: auto;
}
