
.order
     width: 100%
     border-collapse: separate
     text-indent: initial
     border-spacing: 3px
     img
          max-width: 50%
          height: auto
          display: block
.table__head
     padding: 0 30px
.table__head--icon
     width: 100%
.table__head--line
     margin: 0 auto
     border-bottom: 1px solid #ccc
.total
     font-size: 18px  
tr td
     font-size: 15px
     font-weight: 700
     padding-top: 24px
     color: #141414
